[submodule "Core"]
	path = Core
	url = https://github.com/GabrielFerreiraMendes/minusframework-core.git
[submodule "Telemetry"]
	path = Telemetry
	url = https://github.com/GabrielFerreiraMendes/minusframework-telemetry.git
[submodule "Messaging"]
	path = Messaging
	url = https://github.com/GabrielFerreiraMendes/minusframework-messaging.git
[submodule "Migrator"]
	path = Migrator
	url = https://github.com/GabrielFerreiraMendes/minusframework-migrator.git
[submodule "FeatureFlags"]
	path = FeatureFlags
	url = https://github.com/GabrielFerreiraMendes/minusframework-featureflags.git
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/GabrielFerreiraMendes/minusframework-extensions.git
